*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'lato',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top,rgba(253, 253, 253, 0.192),hsla(350, 87%, 51%, 0.13)) , url(1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* ================================================================================================================= */

.nav{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    padding:0 3em;
    width: 100%;
    height: 100%;
}
.links h5 {
    margin: 0 1em ;
}

.logo{
    flex: 4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row;
}

.logo i{
    margin-right: 1em;
    font-size: 2em;
    color: rgb(190, 30, 56);
}

.logo h4{
    font-family: 'lobster';
    font-size: 1.5em;
    color:rgb(12, 145, 145);

}
h4::first-letter {
    font-size: 1.2em;
}

.links{
    flex: 1;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    padding: .6em 0;
    border-radius: .8em;
}
.links h5:first-child{
    color: rgb(231, 44, 75);
}

/* ============================================================== MAIN ================================================================*/



.main{
    flex: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

.left{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    flex: 9;
    padding: 0 3em;
    padding-top: 4em;
}

.left .fa-spa {
    color: hsla(350, 45%, 35%, 0.219);
    font-size: 6em;

}
h3:first-child::first-letter{
    font-size: 1.5em;
}

.left p{
    font-style: italic;
    word-spacing: .8em;
    line-height: 1.4em;
    margin-bottom: 2.5em;
}
.left p::before{
    content: open-quote;
    font-size: 7em;
    font-family: 'lobster';
    color: hsla(350, 45%, 35%, 0.445);

    position: relative;
    top: .2em;
}
.left button{
    background: transparent;
    padding: .3em 1.4em;
    border-radius: .5em;
    outline: none;
    border: none;
    background: rgba(190, 30, 57, 0.445);
    font-size: 1.1em;
    color: white;
    box-shadow: .2em .2em .7em rgba(0, 0, 0, .7), -.2em -.2em 8px white;
}

.right{
    flex:1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2em;
    font-size:2em;
}
.right i{
    margin: 1em .5em ;
    color: hsla(350, 45%, 35%, 0.733);
}
@media all and (max-width:921px){
    .left p{
            font-size: .8em;

    }
    .links h5{
        margin: 0 0 0 .7em;
    }
    .right i{
        font-size: .6em;
    }
}
@media all and (max-width:863px){
    .left p{
            font-size: .8em;
            background: hsla(0, 0%, 0%, 0.24);
            text-align: center;

    }
    .links h5{
        margin: 0 0 0 .7em;
    }
    .right i{
        font-size: .6em;
    }
    .logo h4{
        font-size: .9em;
    }
    .logo i{
        margin-right: .2em;
    }
    button{
        padding: 0;
        font-size: .4em;
    }
}